@import './normalize.min.css';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header__background__logo {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    margin-right: 12px;
}

.header__parent__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: 16px;
    width: 192px;
}

.header__text {
    font-size: 36px;
    color: #0c2146;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.header {
    min-height: 88px;
    display: flex;
    align-items: center;
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 31px;
}

.header__ul li {
    list-style: none;
    font-size: 20px;
}

.header__ul li a {
    text-decoration: none;
    color: #5a5b6a;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.header__ul li:nth-child(2) {
    margin-left: 33px;
}

.header__search {
    background: #ededf0;
    border-radius: 99px;
    width: 668px;
    height: 48px;
    border: 0;
    margin-left: 107px;
    position: relative;
}

.loop {
    position: absolute;
    width: 17.5px;
    height: 17.5px;
}

.header__search::before {
    content: '';
    background: url('img/Vectorloop.png');
    width: 17.5px;
    height: 17.5px;
    color: #787885;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.header__link {
    margin-left: 30px;
    text-decoration: none;
    color: #2264d1;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.header__sign {
    width: 80px;
    height: 24px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #9dc2ff;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 123px;
    font-family: 'Quicksand', sans-serif;
}

#header__cart_subselector {
    margin-left: 0;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
        0px 4px 8px rgba(41, 121, 255, 0.2);
    border: 0;
    width: 75px;
    height: 30px;
    padding: 5px 12px;
}

.parentCartAndNotify {
    width: 99px;
    height: 40px;
    position: relative;
    margin-left: 21px;
}

.header__notify {
    border-radius: 50%;
    background-color: #f44336;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    top: -2px;
    right: -2px;
    font-size: 14px;
}

.header__avatar {
    margin-left: 16px;
}

/* CATEGORIES */
.categories {
    width: 1492px;
    margin-left: 214px;
    display: flex;
    align-items: center;
}

.categories__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 136px;
}

.categories__item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 116px;
}

.categories__item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 64px;
}

.categories__item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
}

.categories__item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 56px;
}

.categories__item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 154px;
}

.categories__item7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 136px;
}

.categories__item8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 140px;
}

.categories__item9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 122px;
}

.categories__item10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 106px;
}

.categories__item11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 164px;
}

.categories__item12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 72px;
}

.categories__item:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item2:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item3:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item4:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item5:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item6:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item7:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item8:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item9:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item10:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item11:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item12:hover {
    background-color: #ebf2ff;
    border-radius: 10px;
    color: #2979ff;
    cursor: pointer;
}

.categories__item__img {
    color: #9696a0;
    padding-top: 10px;
}

.categories__item__text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0 4px 4px 4px;
}

.main {
    margin-top: 40px;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
        0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 8px;
    width: 1114px;
    margin-left: 75px;
    position: relative;
}

.main__header {
    display: flex;
    align-items: center;
}

.main__select {
    border: 1px solid #5a5b6a;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 16px;
    width: 136px;
    height: 36px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.main:before {
    content: 'SORT BY';
    top: 8px;
    left: 20px;
    height: 16px;
    color: #787885;
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.main__select__second {
    border: 1px solid #b4b4bb;
    box-sizing: border-box;
    border-radius: 4px;
    color: #b4b4bb;
    width: 112px;
}

.main__select__second:nth-child(3) {
    width: 152px;
}

.main__ul__show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    background: #ebf2ff;
    border-radius: 4px;
    height: 36px;
    margin: 0;
    padding: 0;
    margin-left: 234px;
}

.main__li__show {
    text-align: center;
    width: 85.3px;
    list-style: none;
    color: #5a5b6a;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

.main__li__show:hover {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
        0px 2px 4px rgba(41, 121, 255, 0.24);
    color: #2264d1;
    font-weight: 400;
}

.main__ul__show__second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    background: #ebf2ff;
    border-radius: 4px;
    height: 36px;
    margin: 0;
    padding: 0;
    margin-left: 24px;
}

.main__li__show__second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer;
}

.main__li__show__second:hover {
    background: #fff;
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
        0px 2px 4px rgba(41, 121, 255, 0.24);
}

/* Related */

.related {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.related__text {
    margin-left: 16px;
    font-family: Inter;
    font-weight: 500;
}

.related__ul {
    margin-left: 4px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related__li {
    list-style: none;
    background: #ededf0;
    border-radius: 99px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    margin-left: 8px;
}

.related__li:first-child {
    margin-left: 0px;
}

.carts__item {
    width: 259px;
    height: 472px;
    margin-top: 16px;
}

.carts__item__text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 227px;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.carts__item__price {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-left: 16px;
}

.carts__item__subtext {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #787885;
    margin: 0;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 14px;
}

.carts__item__subtext__margin {
    margin-top: 16px;
    margin-bottom: 19px;
}

.stars {
    display: flex;
    align-items: center;
}

.star {
    height: 100%;
}

.star:first-child {
    margin-left: 18.47px;
}

.carts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carts__item {
    width: 25%;
}

.starAndWatch {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.watch__button {
    color: #2264d1;
    width: 88px;
    height: 32px;
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #9dc2ff;
    border-radius: 4px;
}

.star__number {
    color: #5e6366;
    margin-left: 10.47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.watch__wrapper {
    position: relative;
    width: 88px;
    height: 32px;
    margin-left: 30px;
}

.watch__heart {
    position: absolute;
    top: 9.7px;
    left: 11px;
    z-index: 2;
}

.carts__item_50off {
    color: #37833b;
    width: 70px;
    height: 24px;
    background-color: #ecf7ed;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 32px;
}

.carts__item__priceAnd50off {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carts__item__subtext__marginSecond {
    margin-top: 18px;
    margin-bottom: 19px;
}

.carts__item__price__margin {
    margin-top: 28px;
}

.carts__item__price__marginSecond {
    margin-top: 50px;
}

.carts__item__subtext__marginThird {
    margin-bottom: 8px;
}

.carts__item__subtext__width {
    width: 222px;
}

.carts__item__subtext__marginFourth {
    margin-top: 18px;
    margin-bottom: 19px;
}

.carts__item__price__marginThird {
    margin-top: 28px;
}

.carts__item__subtext__marginFifth {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carts__item__priceAndCool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}

.carts__item__cool {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 70px;
    height: 24px;
    background-color: #fdedf2;
    border-radius: 4px;
    color: #c23564;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/* SUBMAIN */
.subMain {
    width: 1114px;
    margin-left: 592px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.subMain__cart {
    width: 361px;
    height: 156px;
    background: #ededf0;
    border-radius: 8px;
    text-align: center;
    margin-left: 16px;
}

.subMain__cart:first-child {
    margin-left: 0;
}

.subMain__text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
}

.subMain__subtext {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #5a5b6a;
    padding: 0;
    margin: 0;
}

.subMain__img {
    margin-top: 26px;
}

/* FOOTER */
.footer {
    padding-left: 592px;
    background-color: #f7f7fa;
    min-height: 292px;
    margin-top: 60px;
    padding-top: 30px;
}

.footer__customer {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #b1b1c3;
}

.customerBusinessWrapper {
    display: flex;
    align-items: center;
}

.footer__business {
    margin-left: 665px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #b1b1c3;
}

.footer__about {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer__about__item {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    margin-left: 40px;
    letter-spacing: 0.0275em;
}

.footer__about__item:first-child {
    margin-left: 0;
}

.footer__about__item a {
    text-decoration: none;
    color: #1f1f1f;
}

.footer__about__item__last {
    margin-left: 300px;
}

.allContactsFlex {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.numbersAndEmailFirst {
    display: flex;
    align-items: center;
}

.numbersAndEmailSecond {
    display: flex;
    align-items: center;
}

.numberFirst {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.0275em;
    color: #1f1f1f;
    text-decoration: none;
}

.emailFirst {
    margin-left: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.0275em;
    color: #1f1f1f;
    text-decoration: none;
}

.subnumberAndSubemail {
    margin-top: 12px;
    display: flex;
    align-items: center;
    height: 12px;
}

.subnumberFirst {
    font-family: Inter;
    font-size: 12px;
    color: #5a5b6a;
    margin: 0;
}

.subemailFirst {
    font-family: Inter;
    font-size: 12px;
    color: #5a5b6a;
    margin-left: 33px;
}

.allContacts__track {
    width: 166px;
    height: 40px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    background: #ebf2ff;
    border-radius: 4px;
    color: #2264d1;
    border: 0;
    margin-left: 38px;
}

.secondAllContactsFlex {
    display: flex;
    align-items: center;
}

.socialMedia {
    margin-left: 24px;
    margin-right: 20px;
}

.ThirdAllContactsFlex {
    margin-left: 85px;
}

.subemailSecond {
    font-family: Inter;
    font-size: 12px;
    color: #5a5b6a;
    margin-left: 38px;
}

.width__email {
    min-height: 50px;
    background: #e6e6ea;
    margin-left: -592px;
    padding-left: 592px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.emailInput {
    border: 0;
    height: 24px;
    border-left: 1px solid #5a5b6a;
    background-color: #e6e6ea;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
    padding-left: 16px;
}

.subscribe {
    width: 120px;
    height: 40px;
    color: #2264d1;
    border: 1px solid #9dc2ff;
    background: #e6e6ea;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.divider {
    margin-left: 11px;
}

.width__email__affilate {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 123px;
    letter-spacing: 0.0275em;
}

.width__email__affilate_margin {
    margin-left: 132px;
}

.divider_margin {
    margin-left: 120px;
}

.subfooter__copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #b1b1c3;
    margin-top: 19px;
}

.subfooter {
    display: flex;
    align-items: center;
}

.visa {
    margin-left: 318px;
}

.master {
    margin-left: 23px;
}

.subfooter__ul {
    margin-left: 370px;
    display: flex;
    align-items: center;
}

.subfooter__li {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 16px;
}

.subfooter__li:first-child {
    margin-left: 0;
}

.subfooter__li a {
    text-decoration: none;
    color: #5a5b6a;
}

.aside {
    width: 304px;
    margin-left: 213px;
    margin-top: 48px;
}

.mainAndAsideWrapper {
    display: flex;
}

.aside__main_button {
    width: 304px;
    height: 56px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    background: #fff;
    color: #2264d1;
    border-radius: 4px;
    border: 1px solid #9dc2ff;
    padding-left: 15px;
}

.aside__main_button_wrapper {
    position: relative;
}

.aside__main_button_img {
    position: absolute;
    top: 22px;
    left: 19px;
}

.aside__allCategories {
    width: 248px;
    height: 56px;
}

.aside__allCategories__text {
    margin-left: 16.3px;
}

.aside__allCategories__text_main {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.aside__allCategories__text_submain {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #787885;
}

.aside__allCategories__wrapper {
    width: 248px;
    height: 56px;
    display: flex;
    align-items: center;
}

.aside__allCategories__text > p {
    margin: 0;
    padding: 0;
}

.arrowRight {
    margin-left: 24.3px;
    fill: #76a9ff;
}

.aside__allCategories__open {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 8px;
}

.aside__allCategories__open__item__text {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    margin-left: 14px;
    letter-spacing: 0.022em;
}

.aside__allCategories__open__item {
    display: flex;
    align-items: center;
}

.aside__allCategories__open__item__wrapper > p {
    margin: 0;
    padding: 0;
    margin-left: 16.3px;
}

.aside__allCategories__open__item__subtext {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.aside__allCategories__open__item > p {
    margin: 0;
    padding: 0;
    margin-left: 16.3px;
}

.aside__allCategories__open__item {
    margin-top: 16px;
}

.aside__allCategories__open__item:nth-child(3) {
    margin-top: 11px;
}

.aside__allCategories__open__item {
    margin-left: 22px;
}

.aside__allCategories__open__item:first-child {
    margin-left: 0;
}

.aside__allCategories__open__item_width {
    width: 272px;
}

.aside__allCategories__open__item_subitem_item_button {
    background-color: #ebf2ff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
    color: #2264d1;
    padding-left: 12px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-right: 48px;
    line-height: 16px;
    border: 0;
    border-radius: 4px;
}

.aside__allCategories__open__item_subitem {
    margin-left: 71px;
    margin-top: 6px;
}

.aside__allCategories__open__item_subitem_item {
    margin-top: 16px;
}
